.container__small-card{
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
}

.small-card__content{
  display: flex;
  flex-direction: row;
}

.small-card__photo {
  width: 200px;
  margin: 10px;
}

.small-card__photo > img {
  width: 100%;
  min-width: 60px;
  border-radius: 8px;
}
.small-card__text{
  display: flex;
  flex-direction: column;
}
.small-card__title{
  display:flex;
}

.small-card__title > h1{
  font-size: 1.2rem;
}

.separator{
  margin-top: 10px;
}
