.container__small-card{
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
}

.small-card__content{
  display: flex;
  flex-direction: row;
}

.small-card__photo {
  height: 100%;
    margin: 10px;
}

.small-card__photo > img {
  width: 100%;
  min-width: 80px;
  border-radius: 8px;
}

.small-card__title{
  display:flex;
}

.separator{
  margin-top: 10px;
}
